/* import fonts for customization */
/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap'); */

:root {
    /* calendar styles */
    --vanilla-calendar-bg-color: #fff;
    --vanilla-calendar-border-radius: 5px;
    --vanilla-calendar-border-color: #333;
    --vanilla-calendar-today-bg-color: #333;
    --vanilla-calendar-today-color: #fff;
    --vanilla-calendar-selected-bg-color: #333;
    --vanilla-calendar-selected-color: #ffffff;
    --vanilla-calendar-selected-radius: 5px;
    --calendar-header-color: #333;
    /* custom styles */
    --widget-bg-color: #f5f5f5;
    --button-bg-color: transparent;
    --button-border: #333;
    --button-bg-color-hover: #333;
    --button-border-hover: #F5f5f5;
    --button-text: #333;
    --button-text-hover: #F5f5f5;
    /* fonts */
    --heading-font: 'IM Fell Double Pica', serif;
    --paragraph-font: 'Nunito Sans', sans-serif;
    /* line clamp. change to -1 to stop clamping */
    --desc-line-clamp: 3;
}